Source: openqa
Section: devel
Priority: optional
Maintainer: Hideki Yamane <henrich@debian.org>
Build-Depends: debhelper (>= 10),
               os-autoinst,
               systemd,
               ruby-sass,
               fdupes,
               libmojolicious-perl (>= 7.24),
### for test&runtime
               libdbd-sqlite3-perl,
               libdbix-class-perl (>= 0.082801),
               libconfig-inifiles-perl,
               libsql-translator-perl,
               libdatetime-format-sqlite-perl,
               libfile-copy-recursive-perl,
               libmojolicious-plugin-renderfile-perl,
               libmojolicious-plugin-assetpack-perl (>= 1.36),
               libaliased-perl,
               libconfig-tiny-perl,
               libdbix-class-dynamicdefault-perl,
               libdbix-class-schema-config-perl,
               libdbix-class-optimisticlocking-perl,
               libio-socket-ssl-perl,
               libdata-dump-perl,
               libtext-markdown-perl,
               libnet-dbus-perl,
               libipc-run-perl,
               libarchive-extract-perl,
               libcss-minifier-xs-perl,
               libjavascript-minifier-xs-perl,
               libmojo-rabbitmq-client,
               libdatetime-format-sqlite-perl,
               libtime-parsedate-perl,
               libsort-versions-perl,
               libbsd-resource-perl,
               libnet-openid-consumer-perl,
### for testcases
               perltidy,
               phantomjs,
### Bug#839569
#              libselenium-remote-driver-perl,
               libtest-compile-perl,
               libperl-critic-perl,
               libtest-mockobject-perl,
               libtest-warnings-perl,
### test with cpanfile
               libwww-perl,
               libtimedate-perl,
               libscalar-list-utils-perl,
               libtest-simple-perl,
               liburi-perl,
               libcgi-pm-perl,
               libcache-cache-perl,
#requires 'Carp';
#requires 'Clone';
#requires 'Config::IniFiles';
#requires 'Crypt::DH::GMP';
#requires 'Cwd';
#requires 'DBD::SQLite';
#requires 'DBIx::Class';
#requires 'DBIx::Class::Core';
#requires 'DBIx::Class::DeploymentHandler';
#requires 'DBIx::Class::DynamicDefault';
#requires 'DBIx::Class::ResultClass::HashRefInflator';
#requires 'DBIx::Class::Schema';
#requires 'DBIx::Class::Storage::Statistics';
#requires 'DBIx::Class::OptimisticLocking';
#requires 'Data::Dump';
#requires 'Data::Dumper';
#requires 'Data::OptList';
#requires 'Date::Format';
#requires 'DateTime';
#requires 'DateTime::Duration';
#requires 'DateTime::Format::SQLite';
#requires 'Digest::MD5';
#requires 'Exporter';
#requires 'Fcntl';
#requires 'File::Basename';
#requires 'File::Copy';
#requires 'File::Copy::Recursive';
#requires 'File::Path';
#requires 'FindBin';
#requires 'Getopt::Long';
#requires 'IO::Socket::INET6';
#requires 'IO::Socket::SSL';
#requires 'IPC::Run';
#requires 'JSON';
#requires 'LWP::UserAgent';
#requires 'List::MoreUtils';
#requires 'MRO::Compat';
#requires 'Module::Implementation';
#requires 'Module::Runtime';
#requires 'Mojo::Base';
#requires 'Mojo::ByteStream';
#requires 'Mojo::IOLoop';
#requires 'Mojo::JSON';
#requires 'Mojo::URL';
#requires 'Mojo::Util';
#requires 'Mojolicious';
#requires 'Mojolicious::Commands';
#requires 'Mojolicious::Plugin';
#requires 'Mojolicious::Plugin::AssetPack';
#requires 'Mojolicious::Plugin::Bootstrap3';
#requires 'Mojolicious::Static';
#requires 'Net::DBus';
#requires 'Net::OpenID::Consumer';
#requires 'Package::Stash';
#requires 'Params::Util';
#requires 'Params::Validate';
#requires 'Perl::Tidy';
#requires 'SQL::Translator';
#requires 'SQL::SplitStatement';
#requires 'Scalar::Util';
#requires 'Selenium::Remote::Driver';
#requires 'Sub::Install';
#requires 'Sub::Name';
#requires 'Test::Mojo';
#requires 'Test::More';
#requires 'Test::Compile';
#requires 'Text::Markdown';
#requires 'Time::HiRes';
#requires 'URI::Escape';
#requires 'URI::Heuristic';
#requires 'URI::URL';
#requires 'URI::WithBase';
#requires 'URI::data';
#requires 'base';
#requires 'constant';
#requires 'diagnostics';
#requires 'namespace::clean';
#requires 'strict';
#requires 'warnings';
#requires 'Perl::Critic';
Standards-Version: 4.0.0
Homepage: http://open.qa
Vcs-Git: https://anonscm.debian.org/collab-maint/openqa.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/openqa.git

Package: openqa
Architecture: all
Depends: ${misc:Depends}, openqa-common (>= ${binary:Version}), openqa-client (>= ${binary:Version}),
         sqlite3, git, optipng, dbus,
         liburi-perl,
         liblwp-protocol-https-perl,
         libdbix-class-perl (>= 0.082801),
         libsql-splitstatement-perl,
         libdbix-class-deploymenthandler-perl,
Recommends: apparmor-profiles, apparmor-utils,
            apache2, logrotate,
            libdatetime-format-pg-perl,
            libdbd-pg-perl,
Description: testing framework openQA web-frontend, scheduler and tools
 openQA is a testing framework that allows you to test GUI applications on one
 hand and bootloader and kernel on the other. In both cases, it is difficult to
 script tests and verify the output. Output can be a popup window or it can be
 an error in early boot even before init is executed.
 .
 openQA is an automated test tool that makes it possible to test the whole
 installation process of an operating system. It uses virtual machines to
 reproduce the process, check the output (both serial console and screen) in
 every step and send the necessary keystrokes and commands to proceed to the
 next. openQA can check whether the system can be installed, whether it works
 properly in 'live' mode, whether applications work or whether the system
 responds as expected to different installation options and commands.
 .
 Even more importantly, openQA can run several combinations of tests for every
 revision of the operating system, reporting the errors detected for each
 combination of hardware configuration, installation options and variant of the
 operating system.

Package: openqa-common
Architecture: all
Depends: ${misc:Depends},
         libmojolicious-perl (>= 7.24),
### for test&runtime
         libdbd-sqlite3-perl,
         libdbix-class-perl (>= 0.082801),
         libconfig-inifiles-perl,
         libsql-translator-perl,
         libdatetime-format-sqlite-perl,
         libfile-copy-recursive-perl,
         libmojolicious-plugin-renderfile-perl,
         libmojolicious-plugin-assetpack-perl (>= 1.36),
         libaliased-perl,
         libconfig-tiny-perl,
         libdbix-class-dynamicdefault-perl,
         libdbix-class-schema-config-perl,
         libdbix-class-optimisticlocking-perl,
         libio-socket-ssl-perl,
         libdata-dump-perl,
         libtext-markdown-perl,
         libnet-dbus-perl,
         libipc-run-perl,
         libarchive-extract-perl,
         libcss-minifier-xs-perl,
         libjavascript-minifier-xs-perl,
         libmojo-rabbitmq-client,
         libdatetime-format-sqlite-perl,
         libtime-parsedate-perl,
         libsort-versions-perl,
         libbsd-resource-perl,
         libnet-openid-consumer-perl,
Description: common tools for openQA web-frontend and workers
 This package contain shared resources for openQA web-frontend and 
 openQA workers.

Package: openqa-client
Architecture: any
Depends: ${misc:Depends},
         libjson-perl,
         libconfig-inifiles-perl,
         libdata-dump-perl,
         libmojolicious-perl (>= 7.24),
Description: client tools for remote openQA management
 Tools and support files for openQA client script. Client script is
 a convenient helper for interacting with openQA webui REST API.

Package: openqa-worker
Architecture: all
Pre-Depends: openqa-common (>= ${binary:Version}),
Depends: ${misc:Depends}, openqa-client (>= ${binary:Version}), os-autoinst (>= 4.4),
         libsql-splitstatement-perl,
Recommends: qemu,
Description: testing framework openQA worker
 The openQA worker manages test engine (provided by os-autoinst package).

Package: openqa-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
Description: testing framework openQA documentation
 Documentation material covering installation, configuration, basic test
 writing, etc. Covering both openQA and also os-autoinst test engine.
